<div class="row">
	<div class="col-md-9">
		<div class="row card-deck">
			<div class="col-lg-4 col-md-6 mb-4" *ngFor="let task of tasks">
				<div class="card text-center">
					<div class="card-header">
						<h4>{{task.name}}</h4>
					</div>
					<div class="card-body">
						<h5 class="card-title">{{task.status}}</h5>
						<div class="row">
							<a class="nav-link" [routerLink]="['/task/edit']" [queryParams]="{ id: task.id}">
							  Edit
							</a> 							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>