<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Task Manager</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a routerLink="/users" class="nav-link" >Users </a>
                </li>
            </ul>
        </div>
        
        <div id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a routerLink="/tasks" class="nav-link" >All Tasks</a>
                </li>
            </ul>
        </div>
        
        <div id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
					<a class="nav-link" [routerLink]="['/tasks/1']" [queryParams]="{ status: 'new'}">
					  New Tasks
					</a>                    
                </li>
            </ul>
        </div> 
        
        <div id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
					<a class="nav-link" [routerLink]="['/tasks/2']" [replaceUrl]=true [queryParams]="{ status: 'in_progress'}">
					  In Progress Tasks
					</a>                    
                </li>
            </ul>
        </div> 
        
        <div id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
					<a class="nav-link" [routerLink]="['/tasks/3']" [replaceUrl]=true [queryParams]="{ status: 'complete'}">
					  Complete Tasks
					</a>                    
                </li>
            </ul>
        </div>                       
        
    </div>
</nav>

<br>
<br>
<br>

 <router-outlet></router-outlet>
