<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
      
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="task.name" class="form-control" id="name" name="name" placeholder="Enter task Name"
          required #name="ngModel">
          <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
      </div>
 
<!--      
      <div class="form-group">
        <label for="status">Status</label>
        <input type="text" [(ngModel)]="task.status" class="form-control" id="status" name="status" placeholder="Enter the Status"
          required #status="ngModel">
        <div [hidden]="!status.pristine" class="alert alert-danger">Status is required</div>
      </div>
      
      <div class="form-group">
        <label for="email">Assigned To</label>
        <input type="text" [(ngModel)]="task.user" class="form-control" id="user" name="user" placeholder="Enter the User">
      </div> 
      
      <div class="form-group">
        <label for="createDate">Created</label>
        <div id="createDate">{{ task.createDate}}</div>
      </div> 
      
      <div class="form-group">
        <label for="createDate">Updated</label>
        <div id="createDate">{{ task.updateDate}}</div>
      </div>  
-->                
      
      
      <button type="submit" [disabled]="!taskForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
